[Unit]
Description=My test case
After=graphical.target

[Service]
User=any4rd
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/any4rd/.Xauthority"
ExecStart=/home/any4rd/projects/test_keyboard/venv/bin/python /home/any4rd/projects/test_keyboard/main.py

[Install]
WantedBy=default.target
